.container{
    margin-top: 10px;
    border: 1px solid black;
   padding: 10px;
}

.main{
    border: 1px solid black;
    text-align: center;
}

.tittle{
    text-align: center;
}

.row{
    padding: 10px;
    display: flex;
}

.col{
    border: 1px solid black;
    margin: 10px;
    padding: 3px;
    text-align: center;
}

img{
    height:80%;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.img{
    display: flex;
    flex-direction: row;
    padding:10px;
    height: 80%;
    width:100%;
}

.text{
    text-align: left;
    padding-left: 6px;
}
.btn{
    border: 1px solid  black;
}

@media (max-width:250px){
   .img{
       display: flex;
       flex-direction: column;
   }
}